<head>
  <meta charset="UTF-8">
  <title>Third Party: Marathon</title>
  <link rel="stylesheet" href="/css/marathon.css">
  <style>
    .flex {
      display: flex;
    }

    .item {
      flex: 1;
      padding: 2rem;
    }
  </style>
</head>

<div class='header'>
  <div class='logo-box'>
    <h1 class='logo' style="background-image: url('/css/race.png');"></h1>
  </div>

  <div class='nav-box'>
    <div class='sns'>
      <a class='lang' href="" target="_blank">中</a>
      <a class='lang' href="" target="_blank">En</a>
    </div>

    <div class='nav-bar-new'>
      <ul class='nav-new'>
        <li>
          <a href="http://www.taipeicitymarathon.com/news.php"><p>最新消息</p></a>
        </li>

        <li class='on-item'>
          <p>賽事資訊</p>
          <div class='sub-nav-new'>
            <p>競賽規程</p>
            <p class='on-page'>資格驗證</p>
            <p>各路口限定時間</p>
            <p>路線圖/場佈圖</p>
            <p>報名好禮</p>
            <p>拍照地圖</p>
            <p>補給站</p>
            <p>EDM</p>
          </div>
        </li>

        <li>
          <a href="http://www.taipeicitymarathon.com/traffic.php"><p>交通觀光</p></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<section class='container'>
  <section class='content'>
    <div class='contentChoice'>
      <span>YOUR BUCKET</span>
      <span>-</span>
      <a href='#'>FRIENDS</a>
    </div>

    <article>
      <section class='page-cont'>
        <h2>參加本次馬拉松須符合之條件</h2>
        <p>1. 7天內無呼吸道症狀</p>
        <p>2. 7天內無腹瀉症狀</p>
        <p>3. 365天內無冠心病症狀</p>
        <p>4. 365天內無貧血症狀</p>
        <p>5. 365天內無高血壓症狀</p>
      </section>
    </article>
    
    <article>
      <section class='page-cont'>
        <h2>驗證說明</h2>
        <p>透過下方的QR-Code掃描後，我們將獲取您加密過後的健康資料，並驗證您是否有資格參加本次馬拉松</p>
      </section>
    </article>

    <article>
      <section class='page-cont'>
        <h2>QRCODE</h2>
        <p>請使用"健康存摺 MY HEALTH BANK"app掃描此QR-Code</p>
      </section>
    </article>

    <article>
      <section class='right'>
        <h3 class="qrcode"></h3>
      </section>
    </article>

  </section>

  <aside>
    <section class='friends'>
      <h2>驗證紀錄</h2>
      <button onclick="getResult()" id="update">更新</button>
      <button onclick="cleanLog()" id="update">清除</button>
      <pre id="logger"></pre>
    </section>
  </aside>
</section>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  let logger = $('#logger')

  function log(...inputs) {
    for (let input of inputs) {
      if (typeof input === 'object') {
        input = JSON.stringify(input, null, 2)
      }
      logger.html(input + '\n' + logger.html())
    }
  }

  function cleanLog() {
    logger.html('\n')
  }

  getEvent()

  function getEvent() {
    $.ajax({
      type: 'get',
      url: '/event_qr',
      dataType: 'json',
      data: {
        eventName: "marathon"
      },
      success: function (result) {
        //log(result)
        $('.qrcode').html('<img src="data:image/png;base64,' + result.qrcode + '" />');
      }
    })
  }

  function getResult() {
    $.ajax({
      type: 'get',
      url: '/result/zkrp',
      dataType: 'json',
      data: {},
      success: function (result) {
        result.message.forEach(element => {
          log("")
          log(element)
          swal("Success!", element, "success")
        })
      }
    })
  }
</script>