<head>
    <meta charset="UTF-8">
    <title>Third Party: Self Sharing</title>
    <link rel="stylesheet" href="/css/marathon.css">
    <style>
        .flex {
            display: flex;
        }

        .item {
            flex: 1;
            padding: 2rem;
        }
    </style>
</head>

<section class='barTop'>
    <section class='navSection'>
        <div class='logo'>Self Sharing</div>
    </section>
</section>

<section class='container'>
    <section class='content'>
        <div class='contentChoice'>
            <span>指南臨床試驗 政府立案 字號 NCTXXXXXX</span>
        </div>

        <article>
            <section class='page-cont'>
                <h2>試驗說明</h2>
                <p>1. 我們需要您的西醫門診與用藥紀錄作為研究疾病與藥物的資料</p>
                <p>2. 您可以自行勾選欲分享的資料</p>
                <p>3. 您的資料僅提供此臨床試驗單位使用</p>
                <p>4. 本調查為志願性質，並不是必要的</p>
                <p>5. 您可以隨時終止調查</p>
            </section>
        </article>

        <article>
            <section class='page-cont'>
              <h2>驗證說明</h2>
              <p>透過下方的QR-Code掃描後，您可以選擇要分享哪些資訊給本試驗</p>
            </section>
          </article>

        <article>
            <section class='page-cont'>
                <h2>QRCODE</h2>
                <p>請使用"健康存摺 MY HEALTH BANK"app掃描此QR-Code</p>
            </section>
        </article>

        <article>
            <section class='right'>
                <h3 class="qrcode"></h3>
            </section>
        </article>

    </section>

    <aside>
        <section class='friends'>
            <h2>驗證紀錄</h2>
            <button onclick="getResult()" id="update">更新</button>
            <button onclick="cleanLog()" id="update">清除</button>
            <pre id="logger"></pre>
        </section>
    </aside>
</section>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    let logger = $('#logger')

    function log(...inputs) {
        for (let input of inputs) {
            if (typeof input === 'object') {
                input = JSON.stringify(input, null, 2)
            }
            logger.html(input + '\n' + logger.html())
        }
    }

    function cleanLog() {
        logger.html('\n')
    }

    getEvent()

    function getEvent() {
        $.ajax({
            type: 'get',
            url: '/event_qr',
            dataType: 'json',
            data: {
                eventName: "share"
            },
            success: function (result) {
                //log(result)
                $('.qrcode').html('<img src="data:image/png;base64,' + result.qrcode + '" />');
            }
        })
    }

    function getResult() {
        $.ajax({
            type: 'get',
            url: '/result/share',
            dataType: 'json',
            data: {},
            success: function (result) {
                result.message.forEach(element => {
                    log("")
                    log(element)
                    if (element.split(' ')[2] === "successful") {
                        swal(element.split(' ')[6], element.split(' ')[2], "success")
                    }
                    else {
                        swal(element.split(' ')[6], element.split(' ')[2], "error")
                    }
                })
            }
        })
    }
</script>